.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container {
  width: fit-content;
}
.form-container button {
  width: 12rem;
  margin: 2rem;
}
