.project-header {
  padding: 25px;
  border-bottom: 2px solid #a5b6ce;
  margin: 10px;
}
.project-header button {
  width: fit-content;
}
.header-user {
  display: inline-flex;
  justify-items: end;
  justify-content: flex-end;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  width: 100%;
  border-top: 2px solid #a5b6ce;
  border-bottom: 2px solid #a5b6ce;
}
.project-table {
  min-width: fit-content;
  width: 500px;
  text-align: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-item {
  max-width: 50%;
}
.create-project-dropdown {
  margin: 25px;
}
